<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="br.com.zup.simcityacademy" >

    <application
        android:allowBackup="true"
        android:icon="@drawable/capelo"
        android:label="@string/app_name"
        android:roundIcon="@drawable/capelo"
        android:supportsRtl="true"
        android:theme="@style/Theme.SimCityAcademy" > <!-- TODO adição do icone de launcher -->
        <activity
            android:name=".informacao.InformacaoActivity"
            android:exported="false" />
        <activity
            android:name=".home.HomeActivity"
            android:exported="true"
            android:theme="@style/Theme.SimCityAcademy.NoActionBar" > <!-- TODO adição do tema na tela -->
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>